.benefits{
  min-height: 473px;
  padding: 70px 0 67px 0;
  background-color: #F6F6F6;
  &_wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }
  &_item{
    width: 270px;
    margin-left: 70px;
  }
  &__icons{
    display: block;
    width: 70px;
    margin: 0 auto;
    
  }
  &__subtitle{
    margin-top: 35px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0D0D0D;
  }
  &__descr{
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #0D0D0D;
    a{
      color: #FF0000;

    }
  }
  &__icons {
    &_animated {
      animation-name: heartbeat;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
